html, body {
    color: rgb(60, 60, 60);
    font-size: 16px;
    text-align: left;
    font-family: helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
}

#controls {
    margin: 0.5em;
}

#controls form {
    margin: 0 0 1em 0;
}

.horizontal-controls {
    position: absolute;
    right: 0;
    top: 0;
}

#board .selected {
    background-color: rgb(120, 195, 238);
}

#controls .well {
    width: 96%;
    margin-bottom: 0.5em;
}