html, body {
    color: rgb(60, 60, 60);
    font-size: 16px;
    text-align: left;
    font-family: helvetica, sans-serif;
    line-height: 1.5;
}

#board {
    width: 500px;
    height: 500px;
}

canvas {
    background-color: gray;
}
